#contact {
  text-align: center;
  padding: 0 1rem 4rem 1rem;

  .contact {
    @include flex(column, center, center, initial);
    margin-left: 0;

    &__link {
      display: inline-block;
      width: 4rem;
      margin-bottom: 2rem;
    }

    &__email {
      @include flex(column, center, center, initial);
      width: 20rem;

      p {
        font-size: 1.4rem;
      }

      img {
        width: 4rem;
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .container {
      @include flex(row, center, center, initial);
    }

    &__form {
      width: 100%;
      max-width: 50rem;
    }

    .form-group {
      margin-bottom: 2rem;

      &__item {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: lighten($bg-primary, 4);
        color: $font-grey;
        border: 0;
        border-radius: 0.2rem;

        &:last-child {
          max-width: 50rem;
          max-height: 22rem;
        }
      }

      .btn {
        width: 100%;
        color: $font-white;
        font-weight: bold;
        background: transparent;
        padding: 1.6rem 4rem;
        border: 1px solid $turquoise;
        border-radius: 0.4rem;
        transition: 0.3s ease-in-out;

        &:hover {
          box-sizing: border-box;
          background-color: $turquoise;
        }
      }
    }

    .github {
      display: inline-block;
      fill: $font-white;

      svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
