#skills {
  height: 100vh;
  background: linear-gradient(
    171deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(46, 46, 46, 0.901) 100%
  );

  .skills {
    text-align: center;

    &__current {
      height: 100%;

      h4 {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

    &__icons {
      width: 100%;
      @include flex(row, space-evenly, center, wrap);
    }

    &__icon {
      width: 4rem;
      height: 4rem;
      margin-bottom: 2rem;

      @include media(atSmall) {
        margin-right: 2rem;
      }

      &:last-child {
        width: 8rem;
      }

      &:last-child svg {
        width: 4rem;
        fill: $turquoise;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
