#skills {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(19, 26, 24, 1) 60%,
    rgba(49, 51, 50, 1) 100%
  );
  @include flex(row, center, center, initial);

  .skills {
    width: 100%;
    text-align: center;

    &__current {
      height: 100%;
      margin-bottom: 6rem;

      h4 {
        font-size: 2rem;
        margin-bottom: 3rem;

        @include media(atSmall) {
          font-size: 1rem;
        }
      }
    }

    &__icons {
      width: 100%;
      @include flex(row, space-evenly, center, wrap);
    }

    &__icon {
      width: 4rem;
      margin-bottom: 2rem;

      img {
        height: 4rem;
      }

      @include media(atSmall) {
        margin-right: 2rem;
      }

      &:last-child svg {
        width: 4rem;
        fill: $turquoise;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .github svg {
      width: 4rem;
      height: 4rem;
      fill: $font-white;
    }
  }
}
