@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Train+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Play', sans-serif;
  line-height: 1.2;
  color: #ececea;
  background-color: #1d1d1d;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ececea;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: linear-gradient(transparent, #20639b);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #34a95c);
}

::-webkit-scrollbar-track {
  background-color: #232927;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}

.btn {
  border: none;
}

.section {
  width: 100%;
}

.section__child {
  margin-left: 16rem;
}

@media (max-width: 767px) {
  .section__child {
    margin-left: 0;
  }
}

.section__title {
  font-size: 5rem;
  padding: 5rem 0;
}

@media (max-width: 479px) {
  .section__title {
    font-size: 2.2rem;
  }
}

.go-top {
  visibility: hidden;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  color: #ececea;
  z-index: 44;
  transition: 0.3s ease-in-out;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text-help {
  color: #d15770;
}

.has-success {
  border-top: 3px solid #34a95c;
  border-radius: 0.2rem;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.header {
  width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: initial;
  transition: 0.1s ease-in-out;
  z-index: 88;
  overflow: hidden;
}

.header.openNav {
  width: 100%;
  right: 0;
  z-index: 99;
  opacity: 1;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    left: -16rem;
    opacity: 0;
    transition: 0.1s ease-in-out;
  }
}

.header__logo {
  width: 100%;
  max-width: 16rem;
  background-color: #000000;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
}

@media (max-width: 767px) {
  .header__logo {
    max-width: 100%;
    padding: 2rem 0;
  }
}

.header__logo > span {
  font-size: 1.4rem;
  margin-top: 0.6rem;
  color: #6e6e6e;
}

.header__logo a {
  font-size: 2rem;
  width: 60%;
}

@media (max-width: 767px) {
  .header__logo a {
    width: 6rem;
  }
}

.header__main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
  border-top: 2px solid #1d1d1d;
}

.header__main-nav__item {
  width: 100%;
  padding: 1.6rem 0;
  text-align: center;
  border-bottom: 2px solid #1d1d1d;
  letter-spacing: 0.5rem;
  color: #6e6e6e;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.header__main-nav__item:hover {
  color: #ececea;
  background-color: #000000;
}

.header__main-nav__item .btn__music {
  font-size: 3rem;
  background-color: transparent;
  padding: 0 1rem;
}

.header__main-nav__item .btn__music:hover i {
  box-shadow: 0 0 6px 6px #20639b;
  border-radius: 50%;
}

.header__main-nav__item .btn__music--play {
  color: #34a95c;
}

.header__main-nav__item .btn__music--pause {
  color: #d15770;
}

.header__main-nav .player__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
}

.header__social-list {
  margin-bottom: 4rem;
}

.header__social-list__item {
  margin-bottom: 2rem;
}

.header__social-list__link {
  font-size: 4rem;
  color: #6e6e6e;
}

.header__social-list__link i {
  transition: 0.3s ease-in-out;
}

.header__social-list__link i:hover {
  color: #20639b;
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.8);
}

.burger-menu {
  position: fixed;
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: initial;
  top: 3rem;
  right: 3rem;
  z-index: 100;
  display: none;
}

@media (max-width: 767px) {
  .burger-menu {
    display: flex;
  }
}

.burger-menu__line-top, .burger-menu__line-middle, .burger-menu__line-bottom {
  width: 100%;
  height: 3px;
  border-radius: 10%;
  background-color: #ececea;
  transition: 0.3s ease-in-out;
}

.burger-menu.close .burger-menu__line-top {
  transform: rotate(45deg);
  transform-origin: left;
}

.burger-menu.close .burger-menu__line-middle {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.burger-menu.close .burger-menu__line-bottom {
  transform: rotate(-404deg);
  transform-origin: left;
}

#banner {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: initial;
}

#banner .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: initial;
}

@media (max-width: 1199px) {
  #banner .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  #banner .banner {
    left: 0;
  }
}

#banner .banner__content {
  padding: 0 2rem;
}

#banner .banner__content__title {
  font-size: 6rem;
  font-family: 'Train One', cursive;
  margin-bottom: 4rem;
}

#banner .banner__content__title span {
  display: block;
}

@media (max-width: 767px) {
  #banner .banner__content__title {
    font-size: 4rem;
  }
}

@media (max-width: 479px) {
  #banner .banner__content__title {
    font-size: 3rem;
  }
}

#banner .banner__content p {
  color: #6e6e6e;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-bottom: 6rem;
}

@media (max-width: 479px) {
  #banner .banner__content p {
    font-size: 1.6rem;
    font-weight: lighter;
  }
}

#banner .banner__content__btn {
  padding: 1.6rem 4rem;
  border: 1px solid #34a95c;
  border-radius: 0.4rem;
  transition: 0.3s ease-in-out;
}

#banner .banner__content__btn:hover {
  box-sizing: border-box;
  background-color: #34a95c;
}

#banner .banner__img {
  width: 100%;
  max-width: 100rem;
  min-width: 26rem;
}

@media (max-width: 1199px) {
  #banner .banner__img {
    max-width: 60rem;
    margin-bottom: 6rem;
  }
}

.about {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(171deg, black 40%, #6e6e6e 100%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: initial;
}

@media (max-width: 1199px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.about__content {
  width: 100%;
  max-width: 50rem;
  padding: 0 1rem;
}

.about__content__description {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 479px) {
  .about__content__description {
    font-size: 1.6rem;
  }
}

.about__content a {
  font-size: 2rem;
  color: #d15770;
  text-shadow: 4px 4px 2px #313131;
}

.about__img {
  width: 100%;
  max-width: 80rem;
  min-width: 27rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
}

@media (max-width: 1199px) {
  .about__img {
    max-width: 60rem;
    margin-bottom: 6rem;
  }
}

@media (max-width: 767px) {
  .about__img {
    margin-bottom: 0;
  }
  .about__img img {
    margin: 0;
  }
}

#projects {
  margin-bottom: 5rem;
}

#projects .projects {
  text-align: center;
}

#projects .projects__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#projects .projects__content__card {
  width: 100%;
  max-width: 30rem;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #181818;
  border-radius: 2rem;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-in-out;
  margin-bottom: 4rem;
  opacity: 0;
}

#projects .projects__content__card:hover {
  box-shadow: 0 4px 14px 8px rgba(0, 0, 0, 0.6);
}

#projects .projects__content__card-img {
  width: 100%;
}

#projects .projects__content__card__title {
  margin: 1.6rem 0;
}

#projects .projects__content__card__link {
  display: inline-block;
  font-size: 3rem;
  border: 2px solid #34a95c;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
  padding: 0.4rem 3rem;
  box-sizing: border-box;
}

#projects .projects__content__card__link:first-of-type {
  margin: 1rem;
}

#projects .projects__content__card__link:hover {
  background-color: #20639b;
  border: 2px solid #20639b;
}

#skills {
  height: 100vh;
  background: linear-gradient(180deg, #131a18 60%, #313332 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
}

#skills .skills {
  width: 100%;
  text-align: center;
}

#skills .skills__current {
  height: 100%;
  margin-bottom: 6rem;
}

#skills .skills__current h4 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  #skills .skills__current h4 {
    font-size: 1rem;
  }
}

#skills .skills__icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#skills .skills__icon {
  width: 4rem;
  margin-bottom: 2rem;
}

#skills .skills__icon img {
  height: 4rem;
}

@media (max-width: 767px) {
  #skills .skills__icon {
    margin-right: 2rem;
  }
}

#skills .skills__icon:last-child svg {
  width: 4rem;
  fill: #20639b;
}

#skills .skills__icon p {
  font-size: 0.9rem;
}

#skills .skills .github svg {
  width: 4rem;
  height: 4rem;
  fill: #ececea;
}

#contact {
  text-align: center;
  padding: 1rem;
}

#contact .contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
  margin-left: 0;
}

#contact .contact__link {
  display: block;
  width: 4rem;
  margin-bottom: 2rem;
}

#contact .contact p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#contact .contact .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: initial;
}

#contact .contact__form {
  width: 100%;
  max-width: 50rem;
}

#contact .contact .form-group {
  margin-bottom: 2rem;
}

#contact .contact .form-group__item {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #272727;
  color: #6e6e6e;
  border: 0;
  border-radius: 0.2rem;
}

#contact .contact .form-group__item:last-child {
  max-width: 50rem;
  max-height: 22rem;
}

#contact .contact .form-group .btn {
  color: #ececea;
  font-weight: bold;
  background: transparent;
  padding: 1.6rem 4rem;
  border: 1px solid #20639b;
  border-radius: 0.4rem;
  transition: 0.3s ease-in-out;
}

#contact .contact .form-group .btn:hover {
  box-sizing: border-box;
  background-color: #20639b;
}

.love__container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
